---
import {
  SignInButton,
  SignedIn,
  SignedOut,
  UserButton,
} from "@clerk/astro/components";
import { MoveRight } from "lucide-react";

const { userId } = Astro.locals.auth();

const UserSync = async (userId: string) => {
  try {
    const baseUrl = import.meta.env.PUBLIC_BACKEND_URL;
    const response = await fetch(`${baseUrl}/user/sync`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "x-clerk-user-id": userId,
      },
    });

    if (!response.ok) {
      throw new Error(`HTTP error! Status: ${response.status}`);
    }

    const data = await response.json();
    console.log("Synced user:", data);
  } catch (err) {
    console.error("An error occured =", err);
  }
};

if (userId) {
  console.log("Function is going to be called!");
  UserSync(userId);
}
---

<div class="p-5 bg-violet-100 flex justify-between items-center">
  <a href="/" class="text-3xl font-bold text-violet-700">TaskAI</a>
  <!-- <GetStartedButton /> -->
  <SignedOut>
    <SignInButton mode="modal" asChild>
      <button
        class="bg-violet-700 hover:bg-violet-800 text-white transition cursor-pointer flex p-2 rounded-md gap-2"
      >
        Get Started
        <MoveRight />
      </button>
    </SignInButton>
  </SignedOut>
  <SignedIn>
    <UserButton />
  </SignedIn>
</div>
