---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ClientDashboard from "@/islands/ClientDashboard";
const { userId } = Astro.locals.auth();
import Sidebar from "@/islands/Sidebar";

if (!userId) {
  return Astro.redirect("/");
}
---

<BaseLayout
  title="User Dashboard | Use AI to generate tasks | Create & Manage your tasks"
  description="User dashbaord, create tasklist, edit tasklist, manage your tasks. Use AI to generate your tasks and manage your life."
>
  <section>
    <ClientDashboard client:load />
  </section>
</BaseLayout>
